<main class="w-full h-full pb-14 bg-faded-blue" t-name="App">
    <header class="p-3 bg-blue-400 text-white">
        <h1 class="text-xl">Multi Froggy Timer</h1>
    </header>
    <div class="container pt-3 md:pt-5 px-6 mx-auto flex h-screen flex-wrap flex-col md:flex-row">
        <section class="currentTimer w-full md:w-3/5">
            <header>
                <h1>CurrentTimer</h1>
                <CurrentTimer selectedTimer="state.selectedTimer"/>
            </header>
        </section>
        <section class="timersList w-full md:w-2/5">
            <header>
                <h2>TimersList</h2>
            </header>
            <TimersList
                timers="state.timers"
                t-on-chosen="onTimerChosen"
                t-on-newTimer="onNewTimer"
                />
        </section>
    </div>
</main>